/* цвет основного текста #757575*/
/* вторичный цвет #212121*/
/* цвет акцента #2196F3*/
/* цвет акцента вторичный #188ce8*/
/* цвет фона #ffffff*/
/*цвет заголовков #000000*/
/*цвет фона главной страницы #2F303A */
/*цвет фона кнопок #F5F4FA*/
/* цвет адреса rgba(255, 255, 255, 0.6)*/
/*цвет тени one rgba(0, 0, 0, 0.1)*/
/*цвет тени two rgba(0, 0, 0, 0.1)*/
/*цвет тени three rgba(0, 0, 0, 0.12)*/
/* цвет фона под фото #e5e5e5*/
/*цвет фона карточки #eeeeee*/
/* цвет линии внизу шапки #ececec*/


:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-second: #188ce8;
  --background-color: #ffffff;
  --title-text-color: #000000;
  --background-color-ft: #2f303a;
  --background-color-btn: #F5F4FA;
  --color-opacity: rgba(255,255,255,0.6);
  --color-shadow-one: rgba(0, 0, 0, 0.1);
  --color-shadow-two: rgba(0, 0, 0, 0.08);
  --color-shadow-three: rgba(0, 0, 0, 0.12);
  --color-fon-image: #e5e5e5;
  --color-bgd-card: #eeeeee;
  --border-hr-color: #ececec;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


h1,h2,h3,p,ul {
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: auto;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
   
}


ul {
  list-style-type: none;
}

/* Логотип*/

.hr-toge {

  width: 1600px;
  height: 80px;
  padding-top: 94px;
  padding-bottom: 94px;
  border-bottom: 1px solid var(--border-hr-color);
  
}
.h-flex {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  
}

 .logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
  color: var(--accent-color);
}
span {
  color: var(--title-text-color);
}
a {
  text-decoration: none;
} 
 

/*Навигация без логотипа*/
.links { 
  display: flex;
  margin-left: 93px;
  
  font-size: 14px; 
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left; 
}
.links >.item {
  display: block;
  
}
.links .item:not(:last-child) {
  margin-right: 50px;
}
.clr {
  font-weight: 500;
  color: var(--second-text-color);
}

.link-current {
  color: var(--accent-color);
}
.links .link-current:hover,
.links .link-current:focus {
  color: var(--accent-color);
}
.links .link :hover,
.links .link:focus  {
  color: var(--accent-color);
}

/* Почта и тел*/

.post-tel {  
  display: flex;
  margin-left: auto;
  align-items: center;
  
  
  font-size: 14px; 
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
}
 

 .post-tel >.item+.item {
  margin-left: 50px;
  align-items: center;
 }


.mail {
  color: var(--primary-text-color);
}
.tel {
color: var(--primary-text-color);
}

.post-tel .link:hover,
.post-tel .link:focus {
  color: var(--accent-color);
}

/* Section Главная*/
.univers {
 padding-top: 94px;
 padding-bottom: 94px;
}
.hero {
  padding: 200px 0 280px;
  text-align: center;
  background-color: var(--background-color-ft);
  outline: 2px dashed tomato;
 }
.title {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--background-color);
  text-transform: uppercase;
  background-color: var(--background-color-ft);
  
}
.our-projects {
  background-color: var(--background-color-card);
}
.zakaz {
  display: inline-block;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: inherit;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border: 0ch;
}

.zakaz:hover  {
  background-color: var(--accent-color-second);
}
  

/* Section Наши сильные стороны*/


.our-strong {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.our-strong-h {

  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--second-text-color);
  text-transform: uppercase;
}

.our-strong-f {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  width: 109px;
   
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color); 
 
}
.our-text-p {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-text-color);

}
.toge {
  
  margin-bottom: 30px;
  text-align: center;
}
.our-strong-f>.our-text {
  margin-bottom: 10px;
}
.our-jobs {
  background-color: var(--background-color);
}
.job-f {
  display: flex;
}
.job-f>.item+.item {
  margin-left: 30px;
}
.our-jobs>.item+.item {
  margin-left: 30px;
}
.foto {
  width: 270px;
  height: 368px;
  background: var(--background-color);
  border: 1px solid var(--color-bgd-card);
  box-sizing: border-box;
  
}
.our-text { 
  margin-top: 10px;
  
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  
}




/*Section Чем занимаются*/

  /*Section Team*/

.team-backgroud-color {
 background-color: var(--background-color-btn);
}
.job-f>.item {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid var(--color-bgd-card)
  }

/*Section Наши проекты */
.container-card {
  display: flex;

  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 94px;
  outline: 2px dashed tomato;
}
.projects {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--title-text-color);
}

.button-all> .item:not(:last-child) {
  margin-right: 8px;
}
.univers-port {
margin-top: 94px;
}
.univers-card {
margin-top: 94px;
}

.button-all {
display: flex;
justify-content: center;

font-size: 16px;
font-weight: 500;
line-height: 1.63;
letter-spacing: 0.03em;
text-align: center;

}

.vse {
margin-right: 8px;
height: 38px;
width: 73px;
left: 495px;
top: 174px;
border-radius: 4px;

}

.web {
margin-right: 8px;
height: 38px;
width: 128px;
left: 576px;
top: 174px;
border-radius: 4px;

}
.pri {
  margin-right: 8px;
  height: 38px;
  width: 145px;
  left: 712px;
  top: 174px;
  border-radius: 4px;
 
}
.dis {
  margin-right: 8px;
  height: 38px;
  width: 103px;
  left: 865px;
  top: 174px;
  border-radius: 4px;
}  
.mar {
  height: 38px;
  width: 130px;
  left: 976px;
  top: 174px;
  border-radius: 4px;
   
}
.pointer {
  cursor: pointer;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px var(--color-shadow-one), 0px 1px 2px var(--color-shadow-two), 0px 2px 2px var(--color-shadow-three);
  border-radius: 4px;
  color: var(--second-text-color);
  background-color: var(--background-color-btn);
}
.btn:hover, 
.btn:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

/*Section Projects with photo*/
.job-c {
  display: flex;
  flex-wrap: wrap;
}


.job-c>.item:nth-child(3n+1) {
  
  margin-right: 30px;
  margin-bottom: 30px;
}
.job-c>.item:nth-child(3n+3) {
  margin-left: 30px;
  margin-bottom: 30px;
}
.job-c>.item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.job-c>.item:nth-child(3n+1) {
  margin-left: 0px;
}
.cards {
  margin-top: 34px;
}

.special-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.0;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--title-text-color);
}
.one {
  margin-top: 4px;
} 

.job {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-text-color);
}

.card-one {

width: 370px;
height: 404px;
left: 215px;
top: 262px;


}

.card-two {
  
width: 370px;
height: 404px;
left: 615px;
top: 262px;

background: var(--background-color);
border: 1px solid var(--color-bgd-card);
box-sizing: border-box;
}
.card-three {
 
width: 370px;
height: 404px;
left: 1015px;
top: 262px;

background: var(--background-color);
border: 1px solid var(--color-bgd-card);
box-sizing: border-box;
}
.card-four {

width: 370px;
height: 404px;
left: 215px;
top: 696px;

background: var(--background-color);
border: 1px solid var(--color-bgd-card);
box-sizing: border-box;
}
.card-five {
  
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;
  
  background: var(--background-color);
  border: 1px solid var(--color-bgd-card);
  box-sizing: border-box;  
}
.card-six {
  
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;
  
  background: var(--background-color);
  border: 1px solid var(--color-bgd-card);
  box-sizing: border-box;
}
.card-seven {
  
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;
  
  background: var(--background-color);
  border: 1px solid var(--color-bgd-card);
  box-sizing: border-box;
   
}
.card-eight {
  
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;
  
  background: var(--background-color);
  border: 1px solid var(--color-bgd-card);
  box-sizing: border-box; 
}
.card-nine {
  
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;
  
  background: var(--background-color);
  border: 1px solid var(--color-bgd-card);
  box-sizing: border-box;
   
}
.job-c >.item {

/*Section Footer*/


.fr-flex {
  display: flex;
  justify-content: flex-start;
} 

.contact {
  padding: 60px 0px;

}
.logo-f {
  
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  text-decoration: none;
  color: var(--accent-color);
}
.ft-logo {
  width: 145px;
  margin-left: 0px;
  margin-right: 0px;

  padding-top: 60px;
  padding-bottom: 161px;
  margin-bottom: 20px;  
}
.links-ft {
   
  width: 231px;
  height: 81px;
    
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.add {
color: var(--background-color);
}
.opacity {
  color: var(--color-opacity);
}
.underline {
  text-decoration: none;
}

.links .link:hover,
.links .link:focus { 
  color: var(--accent-color);
}
.foot-bg {

  background-color: var(--background-color-ft);
}
.logo-f > span {
  color: var(--background-color);
}